VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51O7k34CUfCzyitr0xvZOdg19iJdFSwp49ZFIUqqzVWxkx48C3NRo0qtP2HRN8LGk49SVxtU0MM7sUer9repXTfPL00EgUPcdiv
VITE_SUPABASE_URL=https://ivsinybsgnpntujvyqcs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml2c2lueWJzZ25wbnR1anZ5cWNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU0NTI0MTcsImV4cCI6MjA0MTAyODQxN30.9-a-3Yp_i_y_k-a-3Yp_i_y_k-a-3Yp_i_y_k-a-3Yp_i_y_k